<h1>Home#index</h1>
<ul>
   <% for worker in @workers  %>
    <li>
     First Name:  <%= worker.firstname %> <br> Last Name: <%=worker.lastname%>
     srini sriram himaja motheram
    </li>
 <%  end %>
</ul>
